<div ng-controller="ToyRobotController as toy" class="container ng-cloak">
  <div class="row">
    <div class="page-header text-center">
      <h1>Jeff's Toy Robot Simulator</h1>
    </div>
    <div class="col-sm-10 col-sm-offset-2 warningPanel">
      <div class="alert alert-danger ng-cloak" ng-if="toyRobotModel.error">{{toyRobotModel.error}}</div>
    </div>
    <div class="col-sm-6 col-sm-offset-2">
      <table class="toytable">
        <tr ng-repeat="col in [] | rangeColumn: toyRobotModel.column">
            <td ng-repeat="row in [] | rangeRow: toyRobotModel.row" class="text-center">
                <i ng-if="toyRobotModel.currentPosition.x == row && toyRobotModel.currentPosition.y == col" class="fa fa-2x toymodel" ng-class="toyRobotModel.robotClass"></i>
            </td>
        </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <button class="btn pull-left" ng-class="toyRobotModel.stepModeClass" ng-click="setMode('step')">Step-By-Step Mode</button>
            <button class="btn pull-right" ng-class="toyRobotModel.patchModeClass" ng-click="setMode('patch')">Patch Commands Mode</button>
            <div style="clear:both;"></div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 ">
            <div class="well"><strong>Notes*:</strong><p>{{toyRobotModel.modeDescription}}</p></div>
            <hr>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-info" ng-click="nextMove('place')">Place</button><br><br>
            </div>
            <div class="col-sm-6">
              <input type="number" name="x" placeholder="x position, eg 2" ng-model="toyRobotModel.nextMove.x" class="form-control"/>
            </div>
            <div class="col-sm-6">
              <input type="number" name="y" placeholder="y position, eg 1" ng-model="toyRobotModel.nextMove.y" class="form-control"/>
            </div>
            <div class="col-sm-12">
              <br>
              <select class="form-control" ng-model="toyRobotModel.nextMove.f">
                  <option value="">Choose a direction</option>
                  <option value="N">North</option>
                  <option value="E">East</option>
                  <option value="S">South</option>
                  <option value="W">West</option>
              </select>
              <hr/>
            </div>

        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="btn-group">
              <button class="btn btn-info" ng-click="nextMove('move')">Move</button>
              <button class="btn btn-info" ng-click="nextMove('left')">Left</button>
              <button class="btn btn-info" ng-click="nextMove('right')">Right</button>
            </div>
            <hr>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-warning" ng-show="toyRobotModel.mode=='patch'" ng-click="patchCommandsExecute()">Execute</button>
            <button class="btn btn-danger" ng-click="reset()">Reset</button>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-sm-4 col-sm-offset-2">
      <h4 class="text-info">Input</h4>
      <textarea ng-model="toyRobotModel.input" class="form-control inputTextarea" readonly>

      </textarea>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <h4 class="text-info">Output</h4>
      <textarea ng-model="toyRobotModel.output" class="form-control outputTextarea" readonly>

      </textarea>
    </div>
  </div>
</div>
