<div ng-controller="ToyRobotController as toy" class="container">
  <div class="row">
    <div class="page-header text-center">
      <h1>Toy Robot Simulator</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <table class="toytable">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </div>
  </div>
</div>